@import "@/app/themes";
.store {
  &__items {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    &__sort {
      background-color: $primary;
      color: white;
      outline: 2px solid transparent;
      outline-offset: 2px;
      font-weight: 800;
      border-radius: 9999px;
      border-style: none;
      padding: 0.25rem 0.5rem;
    }
    &__sort-option {
      font-weight: 800;
      background-color: white;
      color: $text;
      border-radius: 9999px;
      border-style: none;
      padding: 0.25rem 0.5rem;
    }
  }
}
