@import "themes";
@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");
* {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $text;
  background-color: $background;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

main {
  max-width: 1600px;
  margin: auto;
  margin-top: 4rem;
  @media screen and (min-width: 0px) {
    width: 95%;
  }
  @media screen and (min-width: 600px) {
    width: 85%;
  }
  @media screen and (min-width: 980px) {
    width: 80%;
  }
}
