@import "@/app/themes";
.store {
  &__items {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
